.wrap{
  position: relative;
  transition: 0.5s;
  &:hover{
    transform: scale(1.05);
    filter: brightness(1.4);
  }
}
.b-icon{
  position: absolute;
  top:20px;
  left: 150px;
  font-size: 60px;
}
.banner{
  @include component_size;
  padding: 20px;
}
.banner-txt{
  color: $txt-color;
  border-radius: 10px;
  padding: 20px;
  background-image: linear-gradient(to right, #352038, #1f1f42);
  display: flex;
  justify-content: space-between;
  button{
    @include button-style;
    background-color: #444;
  }
}