.wrap{
  position: relative;
  transition: 0.5s;
  &:hover{
    transform: scale(1.05);
    filter: brightness(1.4);
  }
}
.b-icon{
  position: absolute;
  top:20%;
  left: 18%;
  font-size: 60px;
  @include responsive ($breakpoint-s){
    top: -20px;
    left: 40px;
  }
}
.banner{
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  @include responsive ($breakpoint-s){
    width: 100%;
    margin-top: 40px;
    padding: 30px;
  }
}
.banner-txt{
  color: $txt-color;
  border-radius: 10px;
  padding: 20px;
  background-image: linear-gradient(to right, #352038, #1f1f42);
  display: flex;
  justify-content: space-between;
  @include responsive ($breakpoint-s){
    display: flex;
    flex-direction: column
  }
  button{
    @include button-style;
    width: 15%;
    background-color: #444;
    @include responsive ($breakpoint-s){
      width: 30%;
      margin-top: 10px;
    }
  }
}