.faq{
  @include conmonent_size;
}
.faq-list{
  li{
    button{
      display: block;
      text-align: left;
      background-color: #444;
      color: $txt-color;
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      font-size: $font-size-m;
    }
    p{
      background-color: #666;
      color: $txt-color;
      width: 100%;
      padding: 10px;
      margin: 10px 0;
    }
  }
}