header{
  height: 80vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../../public/image/HeaderBg.jpeg');
  // background-image: url('../../public/image/HeaderBg.jpeg');
  background-position: top center;
  color: $txt-color;
  position: relative;
}
nav{
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  @include responsive($breakpoint-m){
    width: 95%;
  }
  a{
    img{
      width: 200px;
      height: 100px;
    }
  }
  div{
    select{
      padding: 0.4rem 1rem;
      margin-right: 10px;
      border-radius: 3px;
      background-color: transparent;
      color: $txt-color;
      option{
        color: #222;
      }
    }
    button{
      @include button-style;
    }
  }
}
.header-contents{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  h2{
    font-size: 60px;
    margin-bottom: 20px;
    @include responsive($breakpoint-m){
      font-size: 40px;
    }
  }
  h4{
    font-size: $font-size-m;
    margin-bottom: 20px;
  }
  p{
    font-size: $font-size-m;
  }
  .email-box{
    margin-top: 20px;
    input{
      background-color: rgba(0,0,0,0.7);
      outline: none;
      border: 1px solid #aaa;
      border-radius: 3px;
      font-size: $font-size-m;
      padding: 0.4rem 1rem;
      margin-right: 10px;
      @include responsive($breakpoint-s){
        width: 100%;
      }
    }
    button{
      @include button-style;
      font-size: $font-size-m;
    }
  }
}