.membership{
  @include component_size;
  text-align: center;
}
.email-box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  @include responsive($breakpoint-s){
    flex-direction: column;
  }
  .input{
    position: relative;
    label{
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      font-size: 14px;
      color: #aaa;
      transition: 0.3s;
    }
    &.focused{
      label{
        top: 15px;
        font-size: 10px;
      }
    }
    input{
      color: #fff;
      width: 500px;
      height: 60px;
      padding: 0.5rem 1rem;
      padding-left: 40px;
      font-size: $font-size-m;
      margin-right: 10px;
      @include responsive($breakpoint-s){
        width: 100%;
  
      }
      background-color: rgba(0,0,0,0.7);
      outline: none;
      border: 1px solid #aaa;
      border-radius: 3px;
    }
  }
  button{
    @include button-style;
    font-size: $font-size-m;
    @include responsive($breakpoint-s){
      margin-top: 20px;
    }
  }
}