.membership{
  @include component_size;
  text-align: center;
}
.email-box{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0;
  position: relative;
  @include responsive($breakpoint-s){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  label{
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    transition: 0.3s;
    @include responsive($breakpoint-s){
      top: 25%;
      left: 0;
    }
  }
  &.focused{
    label{
      top: 15px;
      font-size: 10px;
    }
  }
  input{
    width: 500px;
    font-size: $font-size-m;
    padding: 0.5rem 1rem;
    padding-top: 20px;
    margin-right: 10px;
    @include responsive($breakpoint-s){
      width: 100%;

    }
    background-color: rgba(0,0,0,0.7);
    outline: none;
    border: 1px solid #aaa;
    border-radius: 3px;
  }
  button{
    @include button-style;
    font-size: $font-size-m;
    @include responsive($breakpoint-s){
      margin-top: 20px;
    }
  }
}