@mixin button-style{
  background-color: $primary-color;
  color: $txt-color;
  border-radius: 3px;
  padding: 0.4rem 1rem;
  &:hover{
    // background-color: $hover-color;
    filter: brightness(0.8);
  }
}

@mixin component_size{
  width: 80%;
  margin: 20px auto;
}

@mixin responsive($breakpoint) {
  @media screen and (max-width: $breakpoint){
    @content;
  }
}

