//색상 변수
$primary-color:rgb(229, 9, 20);
$hover-color:rgb(153, 22, 29);
$bg-color:#111;
$txt-color:#fff;


//폰트
$font-size-l:36px;
$font-size-m:18px;
$font-size-s:14px;

//반응형
$breakpoint-l:1024px;
$breakpoint-m:960px;
$breakpoint-s:600px;